body{
    
    background-image: url("/home/escola/lol/images/fundo.png");
    background-attachment: fixed;
} 

.container div{
    width: 950px;
    height: 300px;
    display: flex;
    margin:150px;
    align-items:center;
    justify-content:center;
  }
  
  .container{
  display:flex;
  }
  
  .container2 div{
    width: 950px;
    height: 300px;
    display: flex;
    margin:150px;
    align-items:center;
    justify-content:center;
  }
  
  .container2{
  display:flex;
  }